.bigCard {
    max-width: 1162px;
    min-width: 1162px;
    min-height: 764px;
    background-color: aqua;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(7.5px);
}

.inp {
    height: 57px;
    width: 460px;
    border-radius: 50px;
    text-align: center;
    font-size: 32px;
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
}

.inp::placeholder {
    color: rgba(176, 176, 176, 0.9);
}

.btn {
    margin-left: 20px;
    height: 57px;
    width: 57px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.searchRow {
    padding-top: 57px;
    /* padding-left: 5px; */
    /* background-color: blueviolet; */
}

.innerCont {
    padding-left: 61px;
    padding-right: 61px;
}

.nowRow, .favRow {
    padding-top: 56px;
}

.nowBox {
    padding-left: 40px;
    padding-right: 10px;
    border-right: 4px solid white;
}

.topNowBox {
    position: relative;
}

.todayBox {
    padding-left: 80px;
    padding-right: 40px;
    padding-top: 18px;
}

.bigImg {
    height: 110px;
}

.bigTemp {
    font-weight: 200;
    font-size: 85px;
    line-height: 85px;
    padding-left: 30px;
    padding-top: 6px;
}

.cityTxt {
    padding-top: 20px;
}

.weathTxt {
    padding-top: 20px;
}

.todayImg {
    width: 54px;
}

.weekRow {
    padding-top: 70px;
    padding-bottom: 60px;
}

.icon {
    font-size: 28px;
}

.star {
    font-size: 38px;
    position: absolute;
    top: -20px;
    left: -20px;
}

.star:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .bigCard {
        min-width: 100vw;
        min-height: 100vh;
        border-radius: 0px;
    }

    .searchRow {
        padding-top: 100px;
    }
}

@media (max-width: 991px) {

    .todayBox {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
    }

    .nowBox {
        border-right: none;
    }

    .cityBox {
        padding-left: 20px;
    }
}

@media (max-width: 767px) {

    p {
        font-size: 25px;
    }

    .inp {
        width: 50%;
        height: 40px;
        font-size: 25px;
    }

    .btn {
        height: 40px;
        width: 40px;
    }

    .icon {
        font-size: 15px;
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }
}

@media (max-width: 575px) {
    p {
        font-size: 20px;
        line-height: 20px;
    }

    .inp {
        font-size: 20px;
    }

    .weekImg {
        height: 50px;
    }

    .searchRow {
        padding-top: 50px;
    }

    .bigImg {
        height: 80px;
    }

    .bigTemp {
        font-size: 50px;
    }

    .innerCont {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nowRow {
        padding-top: 40px;
    }

    .cityTxt,
    .weathTxt {
        padding-top: 10px;
    }

    .todayBox,
    .weekRow {
        padding-top: 50px;
    }

    .star {
        font-size: 26px;
        top: -15px;
        left: -15px;
    }
}