.favCard {
    height: 264px;
    width: 100%;
    background-color: gray;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.2);
    box-shadow: inset -1px 1px 0px 1px rgba(106, 136, 143, 0.3);
}

.favCard:hover {
    cursor: pointer;
}

.favName {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.favRow {
    padding-top: 40px;
}