.weekImg {
    width: 78px;
}

.weekCard {
    height: 250px;
    background-color: gray;
    width: 17.7%;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.2);
    box-shadow: inset -1px 1px 0px 1px rgba(106, 136, 143, 0.3);
}

.lowTxt {
    font-size: 16px;
}