@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: white;
}

.gray {
  color: rgba(176, 176, 176, 0.9);
}

@media (max-width: 1200px) {
  /* … */
  .bigCard {
    min-width: 100vw;
    min-height: 100vh;
  }
}